<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--  https://developer.android.com/develop/xr/jetpack-xr-sdk/add-xr-to-existing  -->
    <uses-sdk tools:overrideLibrary="androidx.xr.scenecore, androidx.xr.compose, com.google.ar.imp.apibindings"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- <uses-sdk -->
    <!-- https://github.com/Neamar/KISS/blob/master/app/src/main/AndroidManifest.xml -->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" /> <!-- android:targetSdkVersion="35" -->
    <!-- android:minSdkVersion="21"/> -->
    <!-- https://youtu.be/ji6Z32oPUpQ -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" /> <!-- <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" -->
    <!-- tools:ignore="ScopedStorage" /> -->
    <uses-permission
        android:name="android.permission.BIND_APPWIDGET"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" /> <!-- <uses-feature -->
    <!-- android:name="android.hardware.faketouch" -->
    <!-- android:required="false" /> -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" /> <!-- <uses-feature -->
    <!-- android:name="android.hardware.type.watch" -->
    <!-- /> -->
    <!-- https://developer.android.com/training/cars/parked -->
    <uses-feature
        android:name="android.hardware.type.automotive"
        android:required="false" /> <!-- https://developer.android.com/games/playgames/input-mouse#disable_input_translation_mode -->
    <uses-feature
        android:name="android.hardware.type.pc"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.landscape"
        android:required="false" /> <!-- https://developer.android.com/guide/topics/manifest/uses-feature-element#screen-interface-sw-features -->
    <uses-feature
        android:name="android.software.home_screen"
        android:required="false" />
    <uses-feature
        android:name="android.software.app_widgets"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.software.input_methods"
        android:required="false" />

    <queries>
        <intent>
            <action android:name="android.intent.action.EDIT" />

            <data android:mimeType="text/plain" />
        </intent>
        <intent>
            <action android:name="android.intent.action.ALL_APPS" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:appCategory="productivity"
        android:banner="@mipmap/ic_launcher"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:description="@string/app_description"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HTLauncher"
        tools:targetApi="35">

        <!-- <uses-library android:name="com.google.android.wearable" -->
        <!-- android:required="false"/> -->
        <!-- <meta-data -->
        <!-- android:name="com.google.android.wearable.standalone" -->
        <!-- android:value="false" /> -->
        <!-- https://youtube.com/shorts/231jCl6QbKM Philip Lackner predictive back -->
        <activity
            android:name=".ui.activities.ItemEditorActivity"
            android:exported="true"
            android:label="@string/title_activity_item_editor"
            android:theme="@style/Theme.HTLauncher">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="@string/text_all_type" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.HTLauncher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>